html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Open Sans";
}

.clicker {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #002b35;
  height: 50%;
}

.buyables {
  background: #fdf6e3;
  height: 50%;
  overflow: auto;
}

.clicker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clicker__button-area {
  font-size: 24px;
  text-align: center;

  background: #fdf6e3;
  border-radius: 8px;
  opacity: .8;
  padding: 30px;
}

.clicker__button {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e4/Keyboard-icon_Wikipedians.svg");
  background-size: cover;
  height: 150px;
  width: 250px;
  z-index: 2;

  background-color: #fdf6e3;
  border: none;
  outline: none;
}

.buyable {
  display: flex;
  padding: 10px 20px;
  margin: 10px;
  border: 2px solid #002b36;
  border-radius: 8px;
  width: 600px;
  height: 75px;
}

.buyable__amount {
  align-self: center;
  font-size: 24px;
}

.buyable__text {
  flex-grow: 1;
  margin: 0 20px;
}

.buyable__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.buyable__title-text {
  font-weight: bold;
}

.buyable__effect {
  font-size: 12px;
}

.buyable__button {
  align-self: center;
  background: none;
  border: 2px solid #859900;
  border-radius: 8px;
  color: #859900;
  font-size: 20px;
  height: 30px;
  width: 80px;
}